{
  # Global options block
  # Optional email key for letsencrypt
  email letsencrypt@ivaldi.me
}

webdav.{{ inventory_hostname }} {
  root * {{ webdav_directory }}
  basicauth {
    {{ webdav_login }} {{ webdav_password }}
  }
  file_server browse
  log {
    output file /var/log/caddy/webdav_access.log {
      roll_size 5MiB
      roll_keep 10
      roll_keep_for 720h
    }
  }
}
