{
  # Global options block
  # Optional email key for letsencrypt
  email letsencrypt@ivaldi.me
  order webdav before file_server
}

:809 {
  root * /srv
  basicauth {
    {{ webdav_login }} {{ webdav_password }}
  }

  @get method GET
  file_server @get browse
  webdav {
    root /srv
  }

  log {
    output file /var/log/caddy/webdav_access.log {
      roll_size 5MiB
      roll_keep 10
      roll_keep_for 720h
    }
  }
}
